<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Separator line -->
	<!-- {0} will be replaced with a sequence number -->
	<variable name="topLevelSeparator" value=" {0}: >>---------------------------" />

	<!-- Format for log messages -->
	<variable name="standardLayout" value= "${nestedRuleIndent}${level:uppercase=true}|${message}" />

	<targets>
		<!-- target name="iLogicLogWindow" type="iLogicLogWindow" SampleParameter="test" layout="${nestedRuleIndent}${level:uppercase=true}|${message}" / --> 
		<target name="iLogicFile" xsi:type="File" fileName="${tempdir:dir=iLogic:file=Log}_${gdc:item=uniqueID}.txt"
				layout="${standardLayout}" 
				keepFileOpen="true"	/>
	</targets>

	<rules>
		<!-- logger name="*" minlevel="Trace" writeTo="iLogicFile"  / -->
		<logger name="iLogic Rules" minlevel="Trace" writeTo="iLogicFile"  />
		<!-- logger name="iLogic Rules" minLevel="Trace" appendTo="iLogicLogWindow"/ --> 
	</rules>

</nlog>