<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectivity.ExtensionSettings3>
    <extension
     interface="Autodesk.Connectivity.JobProcessor.Extensibility.IJobHandler, Autodesk.Connectivity.JobProcessor.Extensibility"
     type="Autodesk.VltInvSrv.iLogicSampleJob.iLogicJobExtension, Autodesk.VltInvSrv.iLogicSampleJob">
      <setting key="JobType1" value="Autodesk.VltInvSrv.iLogicSampleJob"/>
    </extension>
    <extension
       interface="Autodesk.Connectivity.Explorer.Extensibility.IExplorerExtension, Autodesk.Connectivity.Explorer.Extensibility"
       type="Autodesk.VltInvSrv.iLogicSampleJob.iLogicJobAdmin, Autodesk.VltInvSrv.iLogicSampleJob">
    </extension>
  </connectivity.ExtensionSettings3>
</configuration>